<h1 class="manpage">sysdbql(7) Manual Page</h1>
<h2>NAME</h2>
<div class="sectionbody">
<p>sysdbql - the SysDB query language (SysQL)</p>
</div>
<div class="sect1">
<h2 id="_synopsis">SYNOPSIS</h2>
<div class="sectionbody">
<div class="literalblock">
<div class="content monospaced">
<pre>LIST hosts;
LIST services;</pre>
</div></div>
<div class="literalblock">
<div class="content monospaced">
<pre>FETCH host 'some.host.name';</pre>
</div></div>
<div class="literalblock">
<div class="content monospaced">
<pre>LOOKUP hosts MATCHING attribute['architecture'] = 'amd64'
                 AND 'backend::collectd::unixsock' in backend
             FILTER age &lt; 5 * interval;</pre>
</div></div>
<div class="literalblock">
<div class="content monospaced">
<pre>STORE host attribute 'some.host.name'.'key' 123.45
                     LAST UPDATE 2001-02-03 04:05:06;</pre>
</div></div>
</div>
</div>
<div class="sect1">
<h2 id="_description">DESCRIPTION</h2>
<div class="sectionbody">
<div class="paragraph"><p>“System DataBase” (SysDB) is a multi-backend system management and inventory
collection service. It stores system and inventory information about hardware
and software systems. This information is (continuously) collected from
various configurable backends (inventory services, monitoring services, etc.)
and stored in a graph-like hierarchy of generic objects. The store may be
queried through a generic interface independent of the active backends. Object
names are canonicalized before they are added to the store to ensure a
consistent view of your infrastructure.</p></div>
<div class="paragraph"><p>The central object type is a host, which generally represents a physical or
virtual machine or any other type of physical resource. Hosts, in turn, may
reference a list of services which represent any kind of logical resource like
a software system. Both, hosts and services, may reference a list of
attributes which represent further information about the respective host or
service object. For example, attributes may specify static information like a
host&#8217;s architecture or the software version. A host may also reference a list
of metrics which are references to performance data stored about the host.
SysDB supports querying the respective time-series from a backend&#8217;s data
store.</p></div>
<div class="paragraph"><p>The SysDB query language (SysQL) is a human-readable format for describing a
request to retrieve data from a SysDB daemon. It is very remotely similar to
the Standard Query Language (SQL) supported by relational database management
systems (RDBMS) but specialized for SysDB&#8217;s use-case.</p></div>
<div class="paragraph"><p>Besides querying data, SysQL may also be used to store or update objects in
SysDB.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_query_commands">QUERY COMMANDS</h2>
<div class="sectionbody">
<div class="paragraph"><p>Each command is terminated by a semicolon. The following commands are
available to retrieve information from SysDB:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>LIST</strong> hosts|services|metrics [<strong>FILTER</strong> <em>&lt;filter_condition&gt;</em>]
</dt>
<dd>
<p>
Retrieve a sorted (by name) list of all objects of the specified type
currently stored in SysDB. The return value is a list of objects including
their names, the timestamp of the last update and an approximation of the
interval with which the host was updated. When listing services or metrics,
the respective objects will be grouped by host. If a filter condition is
specified, only objects matching that filter will be included in the reply.
See the section "FILTER clause" for more details about how to specify the
search and filter conditions.
</p>
</dd>
<dt class="hdlist1">
<strong>FETCH</strong> host <em>&lt;hostname&gt;</em> [<strong>FILTER</strong> <em>&lt;filter_condition&gt;</em>]
</dt>
<dt class="hdlist1">
<strong>FETCH</strong> service|metric <em>&lt;hostname&gt;</em>.<em>&lt;name&gt;</em> [<strong>FILTER</strong> <em>&lt;filter_condition&gt;</em>]
</dt>
<dd>
<p>
Retrieve detailed information about the specified object. The return value
includes the full object including all of its attributes and child objects.
If the named object does not exist, an error is returned. If a filter
condition is specified, only objects matching that filter will be included in
the reply. See the section "FILTER clause" for more details about how to
specify the search and filter conditions.
</p>
</dd>
<dt class="hdlist1">
<strong>LOOKUP</strong> hosts|services|metrics [<strong>MATCHING</strong> <em>&lt;search_condition&gt;</em>] [<strong>FILTER</strong> <em>&lt;filter_condition&gt;</em>]
</dt>
<dd>
<p>
Retrieve detailed information about all objects matching the specified search
condition. The return value is a list of detailed information for each
matching object providing the same details as returned by the <strong>FETCH</strong> command.
If no object matches the search criteria, it&#8217;s not considered an error.
Instead, an empty list is returned. If a filter condition is specified, only
objects matching that filter will be included in the reply. See the sections
"MATCHING clause" and "FILTER clause" for more details about how to specify
the search and filter conditions.
</p>
</dd>
<dt class="hdlist1">
<strong>TIMESERIES</strong> <em>&lt;hostname&gt;</em>.<em>&lt;metric&gt;</em> [START <em>&lt;datetime&gt;</em>] [END <em>&lt;datetime&gt;</em>]
</dt>
<dd>
<p>
Retrieve a time-series for the specified host&#8217;s metric. The data is retrieved
from a backend data-store based on information provided by the respective
query plugin. The return value includes the actual start and end time of the
time-series and one or multiple sequences of time-stamp / value pairs. If the
metric does not exist or if the backend data-store is not supported, an error
is returned.
</p>
</dd>
</dl></div>
<div class="sect2">
<h3 id="_matching_clause">MATCHING clause</h3>
<div class="paragraph"><p>The <strong>MATCHING</strong> clause in a query specifies a boolean expression which is used
to match objects based on their fields, attributes, or child objects. Any
object for which the expression evaluates to true will be included in the
result set according to the rules set by the actual query.</p></div>
</div>
<div class="sect2">
<h3 id="_filter_clause">FILTER clause</h3>
<div class="paragraph"><p>The <strong>FILTER</strong> clause in a query specifies a boolean expression which is used to
filter objects included in the query&#8217;s response. The filter is applied to
hosts, services, and attributes alike and, thus, will usually be based on the
core properties of the stored objects. The basic syntax for filter clauses is
the same as for matching clauses.</p></div>
</div>
<div class="sect2">
<h3 id="_expressions">Expressions</h3>
<div class="paragraph"><p>Expressions form the basic building block for all queries. Boolean expressions
select objects based on the values of arithmetic expressions which operate on
object specific values (fields) or constant values.</p></div>
<div class="paragraph"><p>Boolean expressions may use the following operators:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<em>&lt;expression&gt;</em> <strong>AND</strong> <em>&lt;expression&gt;</em>
</dt>
<dt class="hdlist1">
<em>&lt;expression&gt;</em> <strong>OR</strong> <em>&lt;expression&gt;</em>
</dt>
<dd>
<p>
        Evaluates to the logical AND or logical OR of the specified
        subexpressions.
</p>
</dd>
<dt class="hdlist1">
<strong>NOT</strong> <em>&lt;expression&gt;</em>
</dt>
<dd>
<p>
        Invert the boolean result of the specified subexpression.
</p>
</dd>
<dt class="hdlist1">
<em>&lt;expression&gt;</em> <em>&lt;cmp&gt;</em> <em>&lt;expression&gt;</em>
</dt>
<dd>
<p>
        Compare the values of two expressions using any compare operator (see
        below). Evaluates to either true or false. Comparing any value with a NULL
        value always evaluates to false. The data types of the two values have to
        match except for a few cases as noted in the documentation of the
        respective operator.
</p>
</dd>
<dt class="hdlist1">
<strong>ANY</strong> <em>&lt;iterable&gt;</em> <em>&lt;cmp&gt;</em> <em>&lt;expression&gt;</em>
</dt>
<dd>
<p>
        Compares each element of an iterable using any compare operator. Evaluates
        to true if any of the elements matches or false if no such elements exist.
        Otherwise, the same rules as for other comparison operations apply.
        Attributes, a host&#8217;s services and metrics, and arrays are iterables.
</p>
</dd>
<dt class="hdlist1">
<strong>ALL</strong> <em>&lt;iterable&gt;</em> <em>&lt;cmp&gt;</em> <em>&lt;expression&gt;</em>
</dt>
<dd>
<p>
        <strong>ALL</strong> is similar to the <strong>ANY</strong> operator but matches if all elements match
        or if no elements exist.
</p>
</dd>
<dt class="hdlist1">
<em>&lt;expression&gt;</em> <strong>IS NULL</strong>
</dt>
<dt class="hdlist1">
<em>&lt;expression&gt;</em> <strong>IS NOT NULL</strong>
</dt>
<dd>
<p>
        Check whether an expression evaluates to a NULL value (or not). An
        expression evaluates to NULL if the queried object does not exist (e.g.,
        when accessing an attribute value).
</p>
</dd>
<dt class="hdlist1">
<em>&lt;expression&gt;</em> <strong>IN</strong> <em>&lt;expression&gt;</em>
</dt>
<dd>
<p>
        Checks whether the value of the first expression is included in the value
        of the second expression which has to be an array value (e.g., <strong>backend</strong>
        field). If the second value is not an array or if the type of the first
        value does not match the array&#8217;s element type, the expression always
        evaluates to false. The first value may also be an array. In this case,
        the expression evaluates to true if all elements of that array are
        included in the second array where order does not matter.
</p>
</dd>
</dl></div>
<div class="paragraph"><p>Parentheses (<em>()</em>) may be used around subexpressions to group them and enforce
precedence.</p></div>
<div class="paragraph"><p>The following fields may be queried:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>name</strong>
</dt>
<dd>
<p>
        The canonicalized name of the object. The type of this field is string.
</p>
</dd>
<dt class="hdlist1">
<strong>last_update</strong>
</dt>
<dd>
<p>
        The timestamp of the last update of the object. This value is based on
        information provided by the queried backend if possible. The type of this
        field is date-time.
</p>
</dd>
<dt class="hdlist1">
<strong>age</strong>
</dt>
<dd>
<p>
        The amount of time since the last update of the object. The type of this
        field is date-time.
</p>
</dd>
<dt class="hdlist1">
<strong>interval</strong>
</dt>
<dd>
<p>
        The interval with which the object gets updated. This value is determined
        automatically based on a moving average determined from the update
        timestamps of an object. It depends on the update timestamps as provided
        by the backend (if available) and SysDB&#8217;s query interval. The type of this
        field is date-time.
</p>
</dd>
<dt class="hdlist1">
<strong>backend</strong>
</dt>
<dd>
<p>
        The name of the backend (plugin) providing the data. The type of this
        field is array of strings.
</p>
</dd>
<dt class="hdlist1">
<strong>attribute[</strong><em>&lt;name&gt;</em><strong>]</strong>
</dt>
<dd>
<p>
        The value of the object&#8217;s named attribute. If an attribute of the
        specified name does not exist, each comparison is treated as if the value
        does not match. See the documentation for the <strong>IS NULL</strong> and <strong>IS NOT NULL</strong>
        operators for ways to check if an attribute exists. The value of an
        attribute may be of any of the supported data types. There is no schema
        specifying each attribute&#8217;s data type which means that the parser cannot
        do any type checks. Thus, in case the data types mismatch when comparing
        an attribute value with some other value, the two values will be cast to
        strings before comparing them.
</p>
</dd>
</dl></div>
<div class="paragraph"><p>The following logical operators are supported by SysDB. Unless otherwise
noted, the data types of the left hand and right hand side have to match.</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>=</strong>
</dt>
<dd>
<p>
        Checks two values for equality.
</p>
</dd>
<dt class="hdlist1">
<strong>!=</strong>
</dt>
<dd>
<p>
        Checks two values for inequality.
</p>
</dd>
<dt class="hdlist1">
<strong>=~</strong>
</dt>
<dd>
<p>
        Checks if a value matches a regular expression. The regex pattern has to
        be specified as a string but the value may be of any type and will be cast
        to a string before evaluating the regular expression. SysDB uses POSIX
        extended regular expressions.
</p>
</dd>
<dt class="hdlist1">
<strong>!~</strong>
</dt>
<dd>
<p>
        Checks if a value does not match a regular expression. The same rules
        apply as for the <strong>=~</strong> operator.
</p>
</dd>
<dt class="hdlist1">
<strong>&lt;</strong>, <strong>&lt;=</strong>, <strong>&gt;=</strong>, <strong>&gt;</strong>
</dt>
<dd>
<p>
        Checks whether a value compares less than, less than or equal to, greater
        than or equal, or greater than some other value.
</p>
</dd>
</dl></div>
<div class="paragraph"><p>The following arithmetic operators are supported by SysDB. Unless otherwise
noted, the data types of the left hand and right hand side have to match.</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>+</strong>
</dt>
<dt class="hdlist1">
<strong>-</strong>
</dt>
<dd>
<p>
        Add or subtract two numeric or date-time values.
</p>
</dd>
<dt class="hdlist1">
<strong>*</strong>
</dt>
<dt class="hdlist1">
<strong>/</strong>
</dt>
<dd>
<p>
        Multiple or divide two numeric or data-time values. A date-time value may
        be multiplied with a numeric value or divided by a numeric value. The
        result will then be a date-time value.
</p>
</dd>
<dt class="hdlist1">
<strong>%</strong>
</dt>
<dd>
<p>
        Modulo operator (remainder of division). Same rules for data types apply
        as for division.
</p>
</dd>
<dt class="hdlist1">
<strong>||</strong>
</dt>
<dd>
<p>
        Concatenate string or array values.
</p>
</dd>
</dl></div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_storing_data">STORING DATA</h2>
<div class="sectionbody">
<div class="paragraph"><p>The <strong>STORE</strong> command may be used to store or update an object in SysDB. Each
command is terminated by a semicolon. The following variants are available for
storing the different data types:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>STORE</strong> host <em>&lt;name&gt;</em> [<strong>LAST UPDATE</strong> <em>&lt;datetime&gt;</em>]
</dt>
<dt class="hdlist1">
<strong>STORE</strong> service|metric <em>&lt;hostname&gt;</em>.<em>&lt;name&gt;</em> [<strong>LAST UPDATE</strong> <em>&lt;datetime&gt;</em>]
</dt>
<dt class="hdlist1">
<strong>STORE</strong> host attribute <em>&lt;hostname&gt;</em>.<em>&lt;key&gt;</em> <em>&lt;value&gt;</em> [<strong>LAST UPDATE</strong> <em>&lt;datetime&gt;</em>]
</dt>
<dt class="hdlist1">
<strong>STORE</strong> service|metric attribute <em>&lt;hostname&gt;</em>.<em>&lt;name&gt;</em>.<em>&lt;key&gt;</em> <em>&lt;value&gt;</em> [<strong>LAST UPDATE</strong> <em>&lt;datetime&gt;</em>]
</dt>
<dd>
<p>
        Store an object of the specified type and name. For services, metrics, and
        attributes, the name is prepended with the parent object name separated by
        a dot (<em>.</em>). Optionally, the time-stamp of the object&#8217;s last update may be
        provided as well. If omitted, the current time on the server will be used
        instead.
</p>
</dd>
<dt class="hdlist1">
<strong>STORE</strong> metric <em>&lt;hostname&gt;</em>.<em>&lt;name&gt;</em> STORE <em>&lt;type&gt;</em> <em>&lt;id&gt;</em> [<strong>LAST UPDATE</strong> <em>&lt;datetime&gt;</em>]
</dt>
<dd>
<p>
        Store a metric and provide information about the metric store associated
        with it. A metric store describes how to access a metric&#8217;s data and can be
        used to retrieve time-series information associated with the metric. See
        the <a href="sysdb.7.html">sysdb(7)</a> manpage for details.
.
        Note that the metric store information will be forwarded to the server
        unmodified. That is, they need to be specified in a way such that the
        server can make sense out of them. Else, retrieval of time-series data
        will fail.
</p>
</dd>
</dl></div>
</div>
</div>
<div class="sect1">
<h2 id="_data_types">DATA TYPES</h2>
<div class="sectionbody">
<div class="paragraph"><p>The SysDB query language natively supports various data-types. Constants of
all types may be used in any place where a value is expected.</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>String constants</strong>
</dt>
<dd>
<p>
        A string constant is an arbitrary sequence of characters enclosed in
        single quotes (<em>'</em>). Single quotes may be included in a string constant by
        specifying two adjacent single quotes.
</p>
</dd>
<dt class="hdlist1">
<strong>Integer constants</strong>
</dt>
<dd>
<p>
        An integer constant may be specified either as a sequence of digits or in
        scientific notation written in the form "<em>a</em> E <em>b</em>" (without spaces) where
        <em>a</em> and <em>b</em> are integers. A leading plus or minus sign specifies the sign
        of the constant.
</p>
</dd>
<dt class="hdlist1">
<strong>Floating-point constants</strong>
</dt>
<dd>
<p>
        A floating-point constant is a sequence of digits containing a decimal
        point. Digits before or after the decimal point (but not both) are
        optional. Floating-point constants may also be specified in scientific
        notation by appending the letter "E" and a positive or negative integer
        exponent. A leading plus or minus sign specifies the sign of the constant.
</p>
</dd>
<dt class="hdlist1">
<strong>Date and time constants</strong>
</dt>
<dd>
<p>
        A date constant may be specified as <em>YYYY-MM-DD</em> and time constants may be
        specified as <em>HH:MM:SS.nnnnnnnnn</em> where seconds and nanoseconds are
        optional.
</p>
</dd>
<dt class="hdlist1">
<strong>Interval constants</strong>
</dt>
<dd>
<p>
        An interval may be specified by one or multiple quantity and unit pairs.
        The quantity may be any integer constant and the unit may be any of the
        following: <strong>Y</strong> (years), <strong>M</strong> (months), <strong>D</strong> (days), <strong>h</strong> (hours), <strong>m</strong>
        (minutes), <strong>s</strong> (seconds), <strong>ms</strong> (milliseconds), <strong>us</strong> (microseconds), or
        <strong>ns</strong> (nanoseconds). Note that years and months are approximations.
</p>
</dd>
<dt class="hdlist1">
<strong>Array constants</strong>
</dt>
<dd>
<p>
        An array stores of one or more values of the same type. It may be
        specified as a comma-separated list of constant values enclosed in square
        brackets (<em>[&lt;elem1&gt;,&lt;elem2&gt;,&#8230;]</em>). For each value, the same rules apply
        as for a regular constant value of that type.
</p>
</dd>
</dl></div>
</div>
</div>
<div class="sect1">
<h2 id="_response_format">RESPONSE FORMAT</h2>
<div class="sectionbody">
<div class="paragraph"><p>The JavaScript Object Notation (JSON) format, as specified in RFC 4627, is
used in all query replies from the server. <a href="http://www.ietf.org/rfc/rfc4627.txt">http://www.ietf.org/rfc/rfc4627.txt</a></p></div>
<div class="paragraph"><p>For all other commands, the reply will be a message string.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_examples">EXAMPLES</h2>
<div class="sectionbody">
<div class="paragraph"><p>The following examples illustrate the use of the commands and what their
replies look like. The replies are pretty-printed to more easily follow them.</p></div>
<div class="literalblock">
<div class="content monospaced">
<pre>LIST hosts;
[{
    "name": "host1.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s",
    "backend": ['backend::mk-livestatus']
  },{
    "name": "host2.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "10s",
    "backend": ['backend::mk-livestatus','backend::collectd::unixsock']
  }]</pre>
</div></div>
<div class="literalblock">
<div class="content monospaced">
<pre>FETCH host 'host1.example.com';
{
    "name": "host1.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s",
    "backend": ['backend::mk-livestatus'],
    "attributes": [{
        "name": "architecture",
        "value": "amd64",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s",
        "backend": ['backend::mk-livestatus']
      },{
        ...
      }],
    "services": [{
        "name": "some service",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s",
        "backend": ['backend::mk-livestatus']
      },{
        ...
      }]}</pre>
</div></div>
<div class="literalblock">
<div class="content monospaced">
<pre>LOOKUP hosts MATCHING attribute['architecture'] = 'amd64';
[{
    "name": "host1.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s",
    "backend": ['backend::mk-livestatus'],
    "attributes": [{
        "name": "architecture",
        "value": "amd64",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s",
        "backend": ['backend::mk-livestatus']
      },{
        ...
      }],
    "services": [{
        "name": "some service",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s",
        "backend": ['backend::mk-livestatus']
      },{
        ...
  }]},{
    ...
  }]</pre>
</div></div>
</div>
</div>
<div class="sect1">
<h2 id="_see_also">SEE ALSO</h2>
<div class="sectionbody">
<div class="paragraph"><p><a href="sysdb.1.html">sysdb(1)</a>, <a href="sysdb.7.html">sysdb(7)</a></p></div>
<div class="paragraph"><p>RFC 4627 (JSON): <a href="http://www.ietf.org/rfc/rfc4627.txt">http://www.ietf.org/rfc/rfc4627.txt</a></p></div>
<div class="paragraph"><p>The SysDB homepage: <a href="https://sysdb.io/">https://sysdb.io/</a></p></div>
</div>
</div>
<div class="sect1">
<h2 id="_author">AUTHOR</h2>
<div class="sectionbody">
<div class="paragraph"><p>SysDB was written by Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_copyright">COPYRIGHT</h2>
<div class="sectionbody">
<div class="paragraph"><p>Copyright &#169; 2012-2014 Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;</p></div>
<div class="paragraph"><p>This is free software under the terms of the BSD license, see the source for
copying conditions. There is NO WARRANTY; not even for MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.</p></div>
</div>
</div>
<hr />
<div id="footer">
<p>
Last updated 2015-02-21 15:39:36 CET
</p>
</div>
