<h1 class="manpage">sysdbd-collectd-unixsock(5) Manual Page</h1>
<h2>NAME</h2>
<div class="sectionbody">
<p>sysdbd-collectd-unixsock - collectd::unixsock plugin querying collectd</p>
</div>
<div class="sect1">
<h2 id="_synopsis">SYNOPSIS</h2>
<div class="sectionbody">
<div class="literalblock">
<div class="content monospaced">
<pre>&lt;LoadBackend "collectd::unixsock"&gt;
    Interval 60
&lt;/LoadBackend&gt;</pre>
</div></div>
<div class="literalblock">
<div class="content monospaced">
<pre>&lt;Backend "collectd::unixsock"&gt;
    &lt;Instance "collector"&gt;
        Socket "/var/run/collectd-unixsock"
        TimeseriesBackend "rrdtool"
        TimeseriesBaseURL "/var/lib/collectd/rrd"
    &lt;/Instance&gt;
&lt;/Backend&gt;</pre>
</div></div>
</div>
</div>
<div class="sect1">
<h2 id="_description">DESCRIPTION</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>collectd::unixsock</strong> is a backend module which queries the system statistics
collection daemon <strong>collectd</strong> using its <strong>unixsock</strong> interface. It connects to
the daemon and periodically queries all hosts and metric names.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_configuration">CONFIGURATION</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>collectd::unixsock</strong> accepts the following configuration options:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>Instance</strong> <em>&lt;name&gt;</em>
</dt>
<dd>
<p>
        An instance block specifies a connection to collectd. The specified
        <em>&lt;name&gt;</em> is used to identify the connection internally but otherwise has
        no special meaning.
       <br>
        An instance block accepts the following configuration options:
</p>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>Socket</strong> <em>&lt;path&gt;</em>
</dt>
<dd>
<p>
                The path name of the UNIX domain socket provided by collectd&#8217;s
                <strong>unixsock</strong> plugin.
</p>
</dd>
<dt class="hdlist1">
<strong>TimeseriesBackend</strong> <em>&lt;type&gt;</em>
</dt>
<dd>
<p>
                The data-store type to be used to query time-series information of a
                metric. This setting relates to a collectd writer plugin. The
                data-store needs to be accessible from SysDB and the type needs to be
                supported by SysDB (through an appropriate time-series fetcher
                plugin like, for example, <strong>timeseries::rrdtool</strong>).
</p>
</dd>
<dt class="hdlist1">
<strong>TimeseriesBaseURL</strong> <em>&lt;url&gt;</em>
</dt>
<dd>
<p>
                The base URL for time-series data. This may be a path-name or a
                network address depending on the time-series backend type.
</p>
</dd>
</dl></div>
</dd>
</dl></div>
</div>
</div>
<div class="sect1">
<h2 id="_see_also">SEE ALSO</h2>
<div class="sectionbody">
<div class="paragraph"><p><a href="sysdbd.1.html">sysdbd(1)</a>, <a href="sysdbd.conf.5.html">sysdbd.conf(5)</a>,
<a href="sysdbd-timeseries-rrdtool.5.html">sysdbd-timeseries-rrdtool(5)</a>,
<a href="https://collectd.org/">https://collectd.org/</a>, <a href="https://collectd.org/wiki/index.php/Plugin:UnixSock">https://collectd.org/wiki/index.php/Plugin:UnixSock</a></p></div>
<div class="paragraph"><p>The SysDB homepage: <a href="http://sysdb.io/">http://sysdb.io/</a></p></div>
</div>
</div>
<div class="sect1">
<h2 id="_author">AUTHOR</h2>
<div class="sectionbody">
<div class="paragraph"><p>SysDB was written by Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_copyright">COPYRIGHT</h2>
<div class="sectionbody">
<div class="paragraph"><p>Copyright &#169; 2012-2014 Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;</p></div>
<div class="paragraph"><p>This is free software under the terms of the BSD license, see the source for
copying conditions. There is NO WARRANTY; not even for MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.</p></div>
</div>
</div>
<hr />
<div id="footer">
<p>
Last updated 2014-08-31 17:59:08 CEST
</p>
</div>
