<p>
SysDB is an Open Source project and puts a high emphasis on an open
development process. Any community contributions are highly welcome and there
are various ways to get involved by either <a
href="/download/#development">writing code</a>, <a
href="/documentation/">writing or improving documentation</a> or the website,
or spreading the word about SysDB and helping users.
</p>

<h2 id="help">Give and Get Help</h2>

<p>
Interactive help may be shared using any of these forums:
</p>
<ul>
	<li><b>Mailinglist:</b> the <a
		href="mailto:sysdb@sysdb.io">sysdb@sysdb.io</a> mailinglist provides
		an easy way for asynchronous communication. See <a
		href="/contact/#mailinglist">here</a> for more details.</li>
	<li><b>IRC:</b> the <a
		href="https://webchat.oftc.net/?channels=sysdb">#sysdb</a> channel on
		the <a href="ircs://irc.oftc.net:6697">irc.oftc.net</a> network may be
		used for real-time interaction with other users.</li>
	<li><b>Social networks:</b> various <a href="/contact/#social">social
		network pages</a> provide further platforms for sharing
		experience.</li>
</ul>

<h2 id="talks">Spread the Word</h2>

<p>
Speaking about SysDB at conferences or other events is a great way to spread
the word about the project. Make sure to let us know if you did so, so we can
link your talk from this site.
</p>

<iframe src="//www.slideshare.net/slideshow/embed_code/39601712" width="425" height="355" 
style="padding: 0px 15px; border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>

<h3>Conferences</h3>

<ul>
	<li><p><b>April 2015: Grazer Linuxtage 2015:</b><br />
		Talk „Modernes System-Management — Alles ist ein Stream“ (in German) by
		<a href="http://tokkee.org">Sebastian 'tokkee' Harl</a><br />
		(<a href="http://tokkee.org/talks/glt15-sysmgmt.pdf">slides</a>)</p></li>
	<li><p><b>November 2014: OpenRheinRuhr:</b><br />
		Talk „SysDB — Alle Systeminformationen auf einen Blick“ (in German) by
		<a href="http://tokkee.org">Sebastian 'tokkee' Harl</a><br />
		(<a href="http://tokkee.org/talks/orr14-sysdb.pdf">slides</a>)</p></li>
	<li><p><b>September 2014: Icinga Camp San Francisco:</b><br />
		Talk “SysDB — The system management and inventory collection service”
		(in English) by <a
		href="http://tokkee.org">Sebastian 'tokkee' Harl</a><br />
		(<a href="http://tokkee.org/talks/icingacamp-sfo14-sysdb.pdf">slides</a>)</p></li>
	<li><p><b>April 2014: Open Source Data Center Conference:</b><br />
		Talk “SysDB — System DataBase — a system management and inventory
		collection service” (in English) by <a
		href="http://tokkee.org">Sebastian 'tokkee' Harl</a><br />
		(<a href="http://tokkee.org/talks/osdc14-sysdb.pdf">slides</a>, <a
		href="http://www.youtube.com/watch?v=jhKCjvhTBDc">YouTube</a>)</p></li>
	<li><p><b>April 2014: Grazer Linuxtage 2014:</b><br />
		Talk „SysDB — System DataBase — Ein Datenaggrgator für
		System-Informationen“ (in German) by <a
		href="http://tokkee.org">Sebastian 'tokkee' Harl</a><br />
		(<a href="http://tokkee.org/talks/glt14-sysdb.pdf">slides</a>, <a
		href="https://www.youtube.com/watch?v=di9IGqKtln4&amp;list=UUSu2KcsxpEPSDru1LlTkpGQ">YouTube</a>)</p></li>
</ul>

<h3>Slides</h3>

<p>
You can find various slides related to SysDB at our <a
href="//www.slideshare.net/sysdb">SlideShare page</a>.
</p>

<h3>Videos</h3>

<p>
See <a href="/community/videos.html">here</a> for a full list of videos.
</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/jhKCjvhTBDc"
style="padding: 0px 15px; border: 0px;" allowfullscreen></iframe>
