<p>
Some videos are available for talks about SysDB. In case you know any others,
<a href="/contact">let us know</a>.
</p>

<p>&nbsp;</p>

<p><b>Open Source Data Center Conference 2014, Berlin, Germany:</b></p>
<iframe width="560" height="315" src="//www.youtube.com/embed/jhKCjvhTBDc"
style="padding: 0px 15px; border: 0px;" allowfullscreen></iframe>

<p>&nbsp;</p>

<p><b>Grazer Linuxtage 2014, Graz, Austria:</b></p>
<iframe width="560" height="315"
src="//www.youtube.com/embed/di9IGqKtln4?list=UUSu2KcsxpEPSDru1LlTkpGQ"
style="padding: 0px 15px; border: 0px;" allowfullscreen></iframe>
