<p>
SysDB was initiated and is currently maintained by <a
href="http://tokkee.org">Sebastian 'tokkee' Harl</a> (<a
href="mailto:tokkee@sysdb.io">email</a>).
</p>

<h2>Mailinglist</h2>

<p>
The SysDB mailinglist is the central place for announcements, discussion, and
development issues. Please use it for any questions, comments, or suggestions
you may have.
</p>

<h3>Subscribe to / unsubscribe from the list</h3>

<p>
To subscribe to the list, send an email to <a
href="mailto:sysdb+subscribe@sysdb.io">sysdb+subscribe@sysdb.io</a>. You will
then receive a confirmation request to the email address you sent the mail
from. To unsubscribe, send an email to  <a
href="mailto:sysdb+unsubscribe@sysdb.io">sysdb+unsubscribe@sysdb.io</a>
</p>

<h3>Post to the list</h3>

<p>
Anybody may post to the list by sending email to <a
href="mailto:sysdb@sysdb.io">sysdb@sysdb.io</a>. In order to protect ourselves
against spam, non-member posts are held back for manual approval, though.
</p>

<h3>Further commands</h3>

<p>
To receive a summary of all available commands, send an email to <a
href="mailto:sysdb+help@sysdb.io">sysdb+help@sysdb.io</a>. You will get back
an email with more details.
</p>

<h2>Google+</h2>

<p>
We have a <a href="https://plus.google.com">Google+</a> page. The link <a
href="http://sysdb.io/+">http://sysdb.io/+</a> redirects there. It will be
used as a (micro-)blogging portal about all things related to SysDB.
</p>

<p>
In addition, there is a <a
href="https://plus.google.com/communities/115517615162896705778">Google+
Community for SysDB</a> which may be used for all kinds of discussions related
to SysDB.
</p>

<h2 id="imprint">Imprint</h2>

<p>
This site is operated by <a href="http://tokkee.org">Sebastian 'tokkee'
Harl</a> (tokkee@sysdb.io).
</p>

<p>
<b>Postal address:</b><br />
Sebastian Harl<br />
Lucia-Popp-Bogen 35<br />
81245 München, Germany
</p>

<h2>License Information</h2>

<p>
SysDB is Free/Libre Open Source Software distributed under the terms of the
simplified BSD license:
</p>

<pre>
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</pre>

<p>&nbsp;</p>

<p>
CHECK_MK is a trademark of Mathias Kettner. GIT is a trademark of Software
Freedom Conservancy. GitHub is a trademark of GitHub, LLC. The octocat
(pictograph) used to link to GitHub pages is a trademark of GitHub, LLC.
Google+ is a trademark of Google Inc. Nagios is a registered trademark of
Nagios Enterprises, LLC. Puppet is a trademark of Puppet Labs Inc. All other
trademarks are the property of their respective owners.
</p>

