<h1 class="manpage">sysdbql(7) Manual Page</h1>
<h2>NAME</h2>
<div class="sectionbody">
<p>sysdbql - the SysDB query language</p>
</div>
<div class="sect1">
<h2 id="_synopsis">SYNOPSIS</h2>
<div class="sectionbody">
<div class="literalblock">
<div class="content">
<pre><tt>LIST;</tt></pre>
</div></div>
<div class="literalblock">
<div class="content">
<pre><tt>QUERY hosts WHERE attribute.architecture = 'amd64';</tt></pre>
</div></div>
</div>
</div>
<div class="sect1">
<h2 id="_description">DESCRIPTION</h2>
<div class="sectionbody">
<div class="paragraph"><p>“System DataBase” (SysDB) is a multi-backend system management and inventory
collection service. It stores system and inventory information about hardware
and software systems. This information is (continuously) collected from
various configurable backends (inventory services, monitoring services, etc.)
and stored in a graph-like hierarchy of generic objects. The store may be
queried through a generic interface independent of the active backends. Object
names are canonicalized before they are added to the store to ensure a
consistent view of your infrastructure.</p></div>
<div class="paragraph"><p>The central object type is a host, which generally represents a physical or
virtual machine or any other type of physical resource. Hosts, in turn, may
reference a list of services which represent any kind of logical resource like
a software system. Both, hosts and services, may reference a list of
attributes which represent further information about the respective host or
service object. For example, attributes may specify static information like a
host&#8217;s architecture or the software version or reference performance data like
the current memory utilization or much more.</p></div>
<div class="paragraph"><p>The SysDB query language is a human-readable format for describing a request
to retrieve data from a SysDB daemon. It is very remotely similar to the
Standard Query Language (SQL) supported by relational database management
systems (RDBMS) but specialized for SysDB&#8217;s use-case.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_query_commands">QUERY COMMANDS</h2>
<div class="sectionbody">
<div class="paragraph"><p>Each command is terminated by a semicolon. The following commands are
available to retrieve information from SysDB:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>LIST</strong>
</dt>
<dd>
<p>
Retrieve a sorted (by name) list of all hosts currently stored in SysDB. The
return value is a list of hosts where each host description includes its name,
the timestamp of the last update of the object in SysDB and an approximation
of the interval with which the host was updated.
</p>
</dd>
<dt class="hdlist1">
<strong>FETCH</strong> <em>&lt;hostname&gt;</em>
</dt>
<dd>
<p>
Retrieve detailed information about the specified host object. The return
value includes the hostname, a list of services referenced by the host, and a
list of attributes for the host and each service. If the host does not exist,
an error is returned.
</p>
</dd>
<dt class="hdlist1">
<strong>LOOKUP</strong> hosts <strong>WHERE</strong> <em>&lt;search_condition&gt;</em>
</dt>
<dd>
<p>
Retrieve detailed information about all host objects matching the specified
search condition. The return value is a list of detailed information for each
matching host providing the same details as returned by the <strong>FETCH</strong> command.
See the section "WHERE clause" for more details about how to specify the
search condition.
</p>
</dd>
</dl></div>
<div class="sect2">
<h3 id="_where_clause">WHERE clause</h3>
<div class="paragraph"><p>The <strong>WHERE</strong> clause in a query specifies a boolean expression which is used to
match host objects based on their names, their attributes, or services
referenced by the host. Each <strong>WHERE</strong> clause may be made up of one or multiple
subexpressions each matching on one criteria. The following subexpressions
are supported by SysDB:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<em>&lt;field&gt;</em> <em>&lt;operator&gt;</em> <em>&lt;value&gt;</em>
</dt>
<dd>
<p>
        Match a named field against the specified value. See below for what fields
        and operators are supported.
</p>
</dd>
<dt class="hdlist1">
<strong>NOT</strong> <em>&lt;subexpression&gt;</em>
</dt>
<dd>
<p>
        Invert the boolean result of the specified subexpression.
</p>
</dd>
<dt class="hdlist1">
<em>&lt;subexpression&gt;</em> <strong>AND</strong> <em>&lt;subexpression&gt;</em>
</dt>
<dt class="hdlist1">
<em>&lt;subexpression&gt;</em> <strong>OR</strong> <em>&lt;subexpression&gt;</em>
</dt>
<dd>
<p>
        Combine multiple subexpressions using logical AND or logical OR.
</p>
</dd>
</dl></div>
<div class="paragraph"><p>The following fields may be queried:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>host.name</strong>
</dt>
<dd>
<p>
        The full name of the host.
</p>
</dd>
<dt class="hdlist1">
<strong>service.name</strong>
</dt>
<dd>
<p>
        The full service name as referenced by the host.
</p>
</dd>
<dt class="hdlist1">
<strong>attribute.name</strong>
</dt>
<dd>
<p>
        The full name of a host attribute.
</p>
</dd>
<dt class="hdlist1">
<strong>attribute.</strong><em>&lt;name&gt;</em>
</dt>
<dd>
<p>
        The value of the named host attribute. If an attribute of the specified
        does not exist, each comparison is treated as if the value does not match.
</p>
</dd>
</dl></div>
<div class="paragraph"><p>The following operators may be used to match field values:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>=</strong>
</dt>
<dd>
<p>
        Evaluates to true if the field value exactly matches the specified value.
</p>
</dd>
<dt class="hdlist1">
<strong>!=</strong>
</dt>
<dd>
<p>
        Evaluates to true if the field value does not match the exact specified
        value.
</p>
</dd>
<dt class="hdlist1">
<strong>=~</strong>
</dt>
<dd>
<p>
        Evaluates to true if the field value matches the specified regular
        expression. SysDB uses POSIX extended regular expressions.
</p>
</dd>
<dt class="hdlist1">
<strong>!~</strong>
</dt>
<dd>
<p>
        Evalues to true if the field value does not match the specified regular
        expression.
</p>
</dd>
</dl></div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_response_format">RESPONSE FORMAT</h2>
<div class="sectionbody">
<div class="paragraph"><p>The JavaScript Object Notation (JSON) format, as specified in RFC 4627, is
used in all replies from the server. <a href="http://www.ietf.org/rfc/rfc4627.txt">http://www.ietf.org/rfc/rfc4627.txt</a></p></div>
</div>
</div>
<div class="sect1">
<h2 id="_examples">EXAMPLES</h2>
<div class="sectionbody">
<div class="paragraph"><p>The following examples illustrate the use of the commands and what their
replies look like. The replies are pretty-printed to more easily follow them.</p></div>
<div class="literalblock">
<div class="content">
<pre><tt>LIST;
{"hosts":[{
    "name": "host1.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s"
  },{
    "name": "host2.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s"
  }]}</tt></pre>
</div></div>
<div class="literalblock">
<div class="content">
<pre><tt>FETCH 'host1.example.com';
{
    "name": "host1.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s",
    "attributes": [{
        "name": "architecture",
        "value": "amd64",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s"
      },{
        ...
      }],
    "services": [{
        "name": "some service",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s"
      },{
        ...
      }]}</tt></pre>
</div></div>
<div class="literalblock">
<div class="content">
<pre><tt>LOOKUP hosts WHERE attribute.architecture = 'amd64';
[{
    "name": "host1.example.com",
    "last_update": "2001-02-03 04:05:06 +0700",
    "update_interval": "5m4s",
    "attributes": [{
        "name": "architecture",
        "value": "amd64",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s"
      },{
        ...
      }],
    "services": [{
        "name": "some service",
        "last_update": "2001-02-03 04:05:06 +0700",
        "update_interval": "5m4s"
      },{
        ...
  }]},{
    ...
  }]</tt></pre>
</div></div>
</div>
</div>
<div class="sect1">
<h2 id="_see_also">SEE ALSO</h2>
<div class="sectionbody">
<div class="paragraph"><p><a href="sysdb.1.html">sysdb(1)</a></p></div>
</div>
</div>
<div class="sect1">
<h2 id="_author">AUTHOR</h2>
<div class="sectionbody">
<div class="paragraph"><p>SysDB was written by Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_copyright">COPYRIGHT</h2>
<div class="sectionbody">
<div class="paragraph"><p>Copyright &#169; 2012-2014 Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;</p></div>
<div class="paragraph"><p>This is free software under the terms of the BSD license, see the source for
copying conditions. There is NO WARRANTY; not even for MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.</p></div>
</div>
</div>
<hr />
<div id="footer">
<p>
Last updated 2014-05-31 22:53:48 CEST
</p>
</div>
