<h1 class="manpage">sysdbd(1) Manual Page</h1>
<h2>NAME</h2>
<div class="sectionbody">
<p>sysdbd - system management and inventory collection service</p>
</div>
<div class="sect1">
<h2 id="_synopsis">SYNOPSIS</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>sysdbd</strong> [<em>options</em>]</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_description">DESCRIPTION</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>sysdbd</strong> is a multi-backend system management and inventory collection daemon.
It stores system and inventory information about hardware and software
systems. This information is (continuously) collected from various
configurable backends.</p></div>
<div class="paragraph"><p>The main daemon itself is the central instance managing all collected
information and doing the correlation of objects provided by different
backends. It basically acts as a database server. All data retrieval, any
further processing, storing and exporting of data is done by plugins.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_options">OPTIONS</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>sysdbd</strong> accepts the following command-line options.</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>-C</strong> <em>&lt;file&gt;</em>
</dt>
<dd>
<p>
        The main configuration file. This file defines the behavior of <strong>sysdbd</strong> by
        specifying default settings and the plugins to be loaded.
</p>
</dd>
<dt class="hdlist1">
<strong>-D</strong>
</dt>
<dd>
<p>
        Do not daemonize on startup: Rather than starting <strong>sysdbd</strong> as a background
        process detached from the current terminal and session (the default), run
        the process in the foreground. This allows easy monitoring of <strong>sysdbd</strong>.
</p>
</dd>
<dt class="hdlist1">
<strong>-h</strong>
</dt>
<dd>
<p>
        Display a usage and help summary and exit.
</p>
</dd>
<dt class="hdlist1">
<strong>-V</strong>
</dt>
<dd>
<p>
        Display the version number and copyright information.
</p>
</dd>
</dl></div>
</div>
</div>
<div class="sect1">
<h2 id="_signals">SIGNALS</h2>
<div class="sectionbody">
<div class="paragraph"><p><strong>sysdbd</strong> accepts and handles the following signals:</p></div>
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>SIGINT</strong>, <strong>SIGTERM</strong>
</dt>
<dd>
<p>
        These signals initiate a clean shutdown and termination of the daemon.
</p>
</dd>
<dt class="hdlist1">
<strong>SIGHUP</strong>
</dt>
<dd>
<p>
        This signal causes the daemon to re-read the configuration and reconfigure
        all plugins. Plugins which are no longer in use will be disabled and
        unloaded. Open client connections are not affected by this.
</p>
</dd>
</dl></div>
</div>
</div>
<div class="sect1">
<h2 id="_exit_codes">EXIT CODES</h2>
<div class="sectionbody">
<div class="dlist"><dl>
<dt class="hdlist1">
<strong>0</strong>
</dt>
<dd>
<p>
        Success.
</p>
</dd>
<dt class="hdlist1">
<strong>1</strong>
</dt>
<dd>
<p>
        Failure (syntax or usage error).
</p>
</dd>
</dl></div>
</div>
</div>
<div class="sect1">
<h2 id="_bugs">BUGS</h2>
<div class="sectionbody">
<div class="paragraph"><p>None known.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_see_also">SEE ALSO</h2>
<div class="sectionbody">
<div class="paragraph"><p><a href="sysdbd.conf.5.html">sysdbd.conf(5)</a></p></div>
</div>
</div>
<div class="sect1">
<h2 id="_author">AUTHOR</h2>
<div class="sectionbody">
<div class="paragraph"><p>SysDB was written by Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;.</p></div>
</div>
</div>
<div class="sect1">
<h2 id="_copyright">COPYRIGHT</h2>
<div class="sectionbody">
<div class="paragraph"><p>Copyright &#169; 2012-2014 Sebastian "tokkee" Harl &lt;<a href="mailto:sh@tokkee.org">sh@tokkee.org</a>&gt;</p></div>
<div class="paragraph"><p>This is free software under the terms of the BSD license, see the source for
copying conditions. There is NO WARRANTY; not even for MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.</p></div>
</div>
</div>
<hr />
<div id="footer">
<p>
Last updated 2014-05-31 22:53:48 CEST
</p>
</div>
