<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      itemscope itemtype="http://schema.org/Product">

<head>
	<title>{{.Title}}</title>

	<meta name="author" content="Copyright (C) 2012-2014 Sebastian ‘tokkee’ Harl" />

	<meta itemprop="name" content="SysDB">
	<meta itemprop="description" content="{{.Description}}">
	<meta itemprop="image" content="http://sysdb.io/images/owl-blue.png">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/style/main.css" type="text/css" />
	<link rel="icon" href="/images/favicon.png" type="images/png" />
{{range .JS}}
	<script type="text/javascript" src="/js/{{.}}"></script>
{{end}}
</head>

<body>
<a href="https://github.com/tokkee/sysdb"><img
	style="position: absolute; top: 0; right: 0; border: 0;"
	src="/images/github_fork.png" alt="Fork me on Github" /></a>

<div class="main">
	<div class="header">
		<div class="logo">
			<a href="/"><img src="/images/owl.png" alt="[SysDB]" class="logo" /></a>
		</div>
		<div class="title">
			<h1><a href="/">SysDB &mdash; System DataBase</a></h1><br />
			<p><a href="/">The system management and inventory collection service</a></p>
		</div>

		<div class="menu">
			<a href="/" title="About">About</a>
			<a href="/news" title="News">News</a>
			<a href="/features" title="Features">Features</a>
			<a href="/download" title="Downloads">Downloads</a>
			<a href="/documentation" title="Documentation">Documentation</a>
			<a href="/community" title="Community">Community</a>
			<a href="/contact" title="Contact">Contact</a>
		</div>
	</div>

	<div class="content">
		<div class="left_container">
		<div class="main_container">
			{{template "left"}}
		</div>
		</div>

		<div class="right_container">
			{{template "right"}}
		</div>
	</div>
</div>
<div class="contact">
<p>
<a href="/contact/#imprint">Imprint</a> |
<a href="https://github.com/tokkee/sysdb">Github</a> |
<a href="/+">Google+</a> (<a href="https://plus.google.com/communities/115517615162896705778">Community</a>) |
<a href="https://twitter.com/SystemDatabase">Twitter</a> |
<a href="https://www.facebook.com/pages/SysDB/649098115173384">Facebook</a>
</p>
</div>

<div class="footer">
	<a href="http://validator.w3.org/check/referer"><img 
		src="/images/valid-html5.png" alt="Valid HTML 5!" /></a>
	<a href="http://jigsaw.w3.org/css-validator/check/referer"><img
		src="/images/valid-css.png" alt="Valid CSS!" /></a>
	<a href="http://www.catb.org/hacker-emblem/"><img
		src="/images/hacker.png" alt="[Hacker]" /></a>
</div>
</body>

</html>
