<p>
The SysDB documentation consists of manpages covering each tool and all
plugins shipped with the core distribution, the SysDB query language and some
generic overview documents. All manual pages are written using the <a
href="http://www.methods.co.nz/asciidoc/">AsciiDoc document format</a> and
shipped as part of the core distribution.
</p>

<p>
Documentation is a critical part of all software. As such, we take good and
complete documentation very seriously. Also, it is a great way for everybody
to contribute to Open Source projects. Any contribution in that area is highly
appreciated and very encouraged. Also, this website is managed in Git as well
and available from <a href="https://github.com/sysdb/sysdb.io">Github</a>.
Feel free to propose changes by opening an <a
href="https://github.com/sysdb/sysdb.io/issues">issue</a> or sending a pull
request.
</p>

<h2 id="manpages">Manpages</h2>

<p>
The top-level manpages provide an overview of how SysDB works and how to use
the server and client tools.
</p>

<ul>
<li><a href="/manpages/head/sysdb.7.html">sysdb(7)</a>: SysDB overview</li>
<li><a href="/manpages/head/sysdb.1.html">sysdb(1)</a>: interactive client
tool</li>
<li><a href="/manpages/head/sysdbd.1.html">sysdbd(1)</a>: data collection and
database server</li>
<li><a href="/manpages/head/sysdbd.conf.5.html">sysdbd.conf(5)</a>: sysdbd
configuration</li>
<li><a href="/manpages/head/sysdbql.7.html">sysdbql(7)</a>: SysDB query
language</li>
</ul>

<h2>Backend Manpages</h2>

<p>
Backend plugins are the working horses of SysDB and responsible for collecting
the information stored in the database. They provide means to connect to the
backend systems, query relevant information, and submit them to the central
store. Plugins may be loaded dynamically into the SysDB daemon.
</p>

<ul>
<li><a href="/manpages/head/sysdbd-collectd-unixsock.5.html">collectd::unixsock(5)</a></li>
<li><a href="/manpages/head/sysdbd-mk-livestatus.5.html">mk-livestatus(5)</a></li>
<li><a href="/manpages/head/sysdbd-puppet-store-configs.5.html">puppet::store-configs(5)</a></li>
</ul>

<h2>Time-series Fetcher Manpages</h2>

<p>
Time-series fetcher plugins provide generic means to retrieve time-series data
from a backend's data-store. All plugins providing metrics information may
also provide the necessary details about how to access the respective
data-store. This may require additional configuration for the backend plugins.
See their respective documentation for details.
</p>

<ul>
<li><a href="/manpages/head/sysdbd-timeseries-rrdtool.5.html">timeseries::rrdtool(5)</a></li>
</ul>

<h2>Plugin Manpages</h2>

<p>
Other plugins may enhance the daemon in various ways, for example, by
providing hostname canonicalization functionality.
</p>

<ul>
<li><a href="/manpages/head/sysdbd-cname-dns.5.html">cname::dns(5)</a></li>
<li><a href="/manpages/head/sysdbd-syslog.5.html">syslog(5)</a></li>
</ul>
