<p>
The SysDB documentation consists of manpages covering each tool and all
plugins shipped with the core distribution, the SysDB query language and some
generic overview documents.
</p>

<p>
Documentation is a critical part of all software. As such, we take good and
complete documentation very seriously. Also, it is a great way for everybody
to contribute to Open Source projects. Any contribution in that area is highly
appreciated and very encouraged. Also, this website is managed in Git as well
and available from <a href="https://github.com/tokkee/sysdb.io">Github</a>.
Feel free to propose changes by opening an <a
href="https://github.com/tokkee/sysdb.io/issues">issue</a> or sending a pull
request.
</p>

<h2>Manpages</h2>

<ul>
<li><a href="/manpages/head/sysdb.7.html">sysdb(7)</a></li>
<li><a href="/manpages/head/sysdb.1.html">sysdb(1)</a></li>
<li><a href="/manpages/head/sysdbql.7.html">sysdbql(7)</a></li>
<li><a href="/manpages/head/sysdbd.1.html">sysdbd(1)</a></li>
<li><a href="/manpages/head/sysdbd.conf.5.html">sysdbd.conf(5)</a></li>
</ul>

<h2>Backend Manpages</h2>

<ul>
<li><a href="/manpages/head/sysdbd-collectd-unixsock.5.html">collectd::unixsock(5)</a></li>
<li><a href="/manpages/head/sysdbd-mk-livestatus.5.html">mk-livestatus(5)</a></li>
<li><a href="/manpages/head/sysdbd-puppet-store-configs.5.html">puppet::store-configs(5)</a></li>
</ul>

<h2>Plugin Manpages</h2>

<ul>
<li><a href="/manpages/head/sysdbd-cname-dns.5.html">cname::dns(5)</a></li>
<li><a href="/manpages/head/sysdbd-syslog.5.html">syslog(5)</a></li>
</ul>
