<p>
SysDB is distributed as a source-code archive.
</p>

<h2 id="stable">Stable Release</h2>

<p>
<b>Latest release:</b> 0.5.0<br />
<b>Release date:</b> 2014-10-06
</p>

<ul>
<li><a href="/source/v0.5.0/sysdb-0.5.0.tar.bz2">sysdb-0.5.0.tar.bz2</a><br />
	<span class="small">MD5: 17f4ed4cc7dc2c5f10ce68bcae695711<br />
	SHA256: 5befde07f4dabd0fdac145ac1db2e961a8bca1b4745f207051039e8adeae3e8b</span></li>
<li><a href="/source/v0.5.0/sysdb-0.5.0.tar.gz">sysdb-0.5.0.tar.gz</a><br />
	<span class="small">MD5: 04faf2f979435ffb17cb99c0a5eece03<br />
	SHA256: 0bbb63c0c48411b7893fc9b4c2f26a5279bd1501d9ac9fc39068a686af28a083</span></li>
</ul>

<p>
<b>Older releases:</b>
</p>

<ul>
<li><a href="/source/v0.4.0/sysdb-0.4.0.tar.bz2">sysdb-0.4.0.tar.bz2</a><br />
	<span class="small">MD5: 0691f2821d3569587912e21d185bbb91<br />
	SHA256: e7292f1791ac6d8510233da3128c54d44f2cacdb2ad0c675068cf147e7f98bb9</span></li>
<li><a href="/source/v0.4.0/sysdb-0.4.0.tar.gz">sysdb-0.4.0.tar.gz</a><br />
	<span class="small">MD5: 2a7a606dff336fa1c3d5a3475bb8f610<br />
	SHA256: 98dff42d22ebbd2b4f8943ba1ae9bb13d79da5a9a4fda21d6428608f67a65d89</span></li>
<li><a href="/source/v0.3.0/sysdb-0.3.0.tar.bz2">sysdb-0.3.0.tar.bz2</a><br />
	<span class="small">MD5: fe763afe521d67f92e33c5eb024c217a<br />
	SHA256: 439fd83a29ec650c24d288c78f4d8d1cb9fa14e106600fd6dbfce10b7c0c4140</span></li>
<li><a href="/source/v0.3.0/sysdb-0.3.0.tar.gz">sysdb-0.3.0.tar.gz</a><br />
	<span class="small">MD5: 700fc73764a2f03d2578e78f50bf7235<br />
	SHA256: 2a2710819dbf579b809f0e8718e3bbf108e08bc736ba296a7f207bc17a49f458</span></li>
</ul>

<h2 id="bindings">Language Bindings</h2>

<p>Language bindings allow you to interact with SysDB using other programming
languages.</p>

<h3 id="go">Go</h2>

<p>The <a href="https://github.com/sysdb/go">github.com/sysdb/go</a> package
for the <a href="https://golang.org/">Go</a> programming language (golang)
implements a client for SysDB.</p>

<p>Install the package into your GOPATH using the <a
href="https://golang.org/cmd/go/#hdr-Download_and_install_packages_and_dependencies">go
get</a> command:</p>

<pre>
go get github.com/sysdb/go
</pre>

<p>
The documentation is included with the source code in a way compatible with
the <a href="https://golang.org/cmd/godoc/">godoc tool</a> and can be viewed
<a href="https://godoc.org/github.com/sysdb/go">online</a>.
</p>

<p>
<a href="https://travis-ci.org/sysdb/go?branch=master"><img
	src="https://travis-ci.org/sysdb/go.png?branch=master"
	alt="Build/Test Status" /></a>
</p>

<h2 id="development">Development Snapshots</h2>

<p>
The latest version of the source-code is available in the Git archive, hosted
on Github. You may browse the source-code in the <a
href="https://github.com/sysdb/sysdb">web-interface</a> or download the code
via <a href="http://git-scm.com/">Git</a> via <a
href="https://github.com/sysdb/sysdb.git">https://github.com/sysdb/sysdb.git</a>.
A mirror is available at <a
href="git://git.tokkee.org/sysdb.git">git://git.tokkee.org/sysdb.git</a>.
</p>

<p>
<a href="https://travis-ci.org/sysdb/sysdb?branch=master"><img
	src="https://travis-ci.org/sysdb/sysdb.png?branch=master"
	alt="Build/Test Status" /></a>
&nbsp;&nbsp;&nbsp;
<a href="https://coveralls.io/r/sysdb/sysdb?branch=master"><img
	src="https://coveralls.io/repos/sysdb/sysdb/badge.png?branch=master"
	alt="Coverage Status" /></a>
</p>

<h2 id="compile">Compile the Source</h2>

<p>
After downloading the source package, you need to unpack, compile, and install
the source. For this, you might need additional dependencies based on which
components of SysDB you want to use. You'll find detailed information about
this in the <a
href="https://github.com/sysdb/sysdb/blob/master/README">README</a> file.
Also, the '<span class="tt">configure</span>' script will provide a summary of
required and auto-detected dependencies.
</p>

<p>
Compile and install the source using the usual approach used by a lot of Open
Source projects:
</p>

<pre>
tar zxf sysdb-<i>VERSION</i>.tar.gz
cd sysdb-<i>VERSION</i>
./configure
make all install
</pre>

<p>
When fetching the source from Git or after changing the build system, you'll
have to rebuild the build system:
</p>

<pre>
./autogen.sh
</pre>

<h2 id="license">License</h2>

<p>
SysDB is Free/Libre Open Source Software distributed under the terms of the
simplified BSD license:
</p>

<pre>
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:
1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</pre>

