<p>
SysDB is distributed as a source-code archive.
</p>

<h2>Stable Release</h2>

<p>
<b>Latest release:</b> 0.1.0<br />
<b>Release date:</b> tba
</p>

<h2>Development Snapshots</h2>

<p>
The latest version of the source-code is available in the Git archive, hosted
on Github. You may browse the source-code in the <a
href="https://github.com/tokkee/sysdb">web-interface</a> or download the code
via <a href="http://git-scm.com/">Git</a> via <a
href="https://github.com/tokkee/sysdb.git">https://github.com/tokkee/sysdb.git</a>.
</p>
